# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Admin\Desktop\core\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
../controllers/target/
../lib/target/
../models/target/
../parsing/target/
../repositories/target/
../routing/target/
../services/target/
